# DataScienceEcosystem.ipynb

## **Objectives**
 * Open Source tools for Data Management in data Science
   * MySQL
   * Hadoop
   * Cassandra
   * Ceph
 * Languages of Data Science 
   * Python
   * R
   * Java
 * Intro to Python
 * Intro to R
 * Github repository

## In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
  1. Python
  2. C++
  3. Julia
  4. R

## Some of the commonly used libraries used by Data Scientists include:
 1. Pandas
 2. Numpy
 3. Sklearn

|Data Science Tools|
|------------------|
|SQL|
|MangoDB|
|Cassandra|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [ ]:
#Code expression to compute minute to hour
x= 200 #minute
y= 60 # one hour in minute
z= x / y # hours to minute
print(z)

3.3333333333333335

### **Author**
    Pouran Nazarian Samani